## Database operations

In [12]:
import pandas as pd
import psycopg2 as ps
from sqlalchemy import create_engine

In [13]:
# DB CONFIG
db_name = "adsproject"
db_user = "ads"
db_password = "admin123!"
db_host = "postgres"
db_port = "5432"

table_name = 'airbnb'

## Save combined airbnb data and rental prices data to database

In [14]:
# Create a connection to the PostgreSQL database
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
# Read csv into df
df = pd.read_csv('../data/airbnb_rental_prices_combined.csv', sep=";")
# Save the DataFrame as a table in the PostgreSQL database
df.to_sql(table_name, engine, if_exists='replace', index=False)

701

## Read data from database and save it into a dataframe

In [16]:
def read_table_to_dataframe(db_name, db_user, db_password, db_host, db_port, table_name):
    # Establish a connection to the PostgreSQL database
    conn = ps.connect(database=db_name, user=db_user, password=db_password, host=db_host, port=db_port)
    # Read the table from the PostgreSQL database into a DataFrame
    df = pd.read_sql(f'SELECT * FROM {table_name};', conn)
    # Close the connection
    conn.close()
    return df

# Call the function to read the table from the PostgreSQL database into a DataFrame
df = read_table_to_dataframe(db_name, db_user, db_password, db_host, db_port, table_name)

# Display the DataFrame
df.head()

/var/folders/gx/6fc580lj01z1vbzn7cj7bydc0000gn/T/ipykernel_58302/1872645344.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name};', conn)

,Unnamed: 0,name,price,price_reduced,guests,bedrooms,beds,bathrooms,lat,lng,...,rating_location,rating_checkin,rating_communication,rating_cleanliness,rating_data_accuracy,comments,rooms,price_y,district,mean_rental_price
0,0,Serviced Studio Zürich City #B,44.0,0.0,2,1,1,1.0,47.40581,8.55173,...,0.0,0.0,0.0,0.0,0.0,['Zum Übernachten optimal für eine Person.\nFü...,2,44.0,Unterstrass,1522.0
1,1,2.5 Zimmerwohnung mit Garten,40.0,0.0,2,1,1,1.0,47.36336,8.46183,...,0.0,0.0,0.0,0.0,0.0,[],2,40.0,Albisrieden,1573.0
2,6,Spannende Wohnung in Zürich Örlikon,62.0,0.0,2,1,1,1.0,47.40388,8.54967,...,5.0,5.0,5.0,4.7,5.0,['The house is perfectly connected to the cent...,2,62.0,Unterstrass,1522.0
3,8,Geschätzt einfache Wohnung,66.0,0.0,2,1,1,1.0,47.40140,8.49900,...,0.0,0.0,0.0,0.0,0.0,[],2,66.0,Höngg,1518.0
4,11,leider die Wohnung ist nicht verfügbar,64.0,0.0,2,1,1,0.0,47.42600,8.54490,...,0.0,0.0,0.0,0.0,0.0,[],2,64.0,Seebach,1445.0